.dis {
DISPLAY: block
}
.undis {
DISPLAY: none
}
#measureBox {
FONT-SIZE: 14px;
COLOR: black;
TEXT-ALIGN: center;
DISPLAY: none;
position: absolute;
/* top : 2rem;
left : 2rem; */
WIDTH: 400px;
font-family:'微软雅黑';
-moz-user-select:none;/*火狐*/
-webkit-user-select:none;/*webkit浏览器*/
-ms-user-select:none;/*IE10*/
-khtml-user-select:none;/*早期浏览器*/
user-select:none;
}
#measureBox *{
	padding:0; margin:0;
}
#measureBox.show {
DISPLAY: block;
}
#measureBox.hide {
DISPLAY: none;
}
#boxBody {
	
    position: absolute;
    
    background: rgba(38, 38, 38, 0.95);
    color: #edffff;
    border: 1px solid #444;
    border-radius: 7px;
    box-shadow: 0 0 10px 1px #000;
}
#boxBody P {
FLOAT: left; LINE-HEIGHT: 21px
}
#boxBody P.topTit {
FONT-WEIGHT: bold; WIDTH: 117px
}
#boxBody P.topC0 {
BACKGROUND: rgba(38, 38, 38, 0.95); BORDER-LEFT: #f2f2f2 1px solid; WIDTH: 50px; CURSOR: pointer
}
#boxBody P.topC1 {
BACKGROUND: rgba(84, 84, 84, 1.0); BORDER-LEFT: #f2f2f2 1px solid; WIDTH: 50px; COLOR: yellow
}
#boxBody #footer{
BORDER-TOP: rgba(84, 84, 84, 1.0) 3px solid; line-height:30px;
cursor:move;
}
#boxBody #footer *{
	margin-bottom:5px;
}
#boxBody #footer #mouseControl{
FLOAT: left; LINE-HEIGHT: 21px;padding-left:20px;
margin-top:3px;
}
#boxBody #footer #editVertex{
FLOAT: left; LINE-HEIGHT: 21px;padding-left:20px;
margin-top:3px;
}
#boxBody #footer #clearAll {
float:right;
right:5px;
width: 70px;
vertical-align:middle;
margin-top:5px;
}
#boxBody #boxBody_tit {
BORDER-BOTTOM: rgba(84, 84, 84, 1.0) 3px solid; HEIGHT: 21px;cursor:move;
}
#boxBody #boxBody_cnt {
PADDING-LEFT: 25px; no-repeat 12px 13px; LINE-HEIGHT: 30px; 
PADDING-TOP: 8px;  
TEXT-ALIGN: left;
padding-bottom: 8px;
}
#boxBody #boxBody_cnt A {
COLOR: #edffff; TEXT-DECORATION: none;
-moz-user-select:text;/*火狐*/
-webkit-user-select:text;/*webkit浏览器*/
-ms-user-select:text;/*IE10*/
-khtml-user-select:text;/*早期浏览器*/
user-select:text;
}
#boxBody #boxBody_cnt P {
PADDING-TOP:2px;COLOR: #edffff; TEXT-DECORATION: none
}
#boxBody #boxBody_cnt .selectbox {
	position:absolute;
	right: 2px;
	width: 80px;
	margin-top:8px;
}

#profileBox {
FONT-SIZE: 16px;
TEXT-ALIGN: left;
position: absolute;
DISPLAY: none;
bottom : 0;
WIDTH: 100%;
HEIGHT: 222px;
background: rgba(38, 38, 38, 0.95);
color: #edffff;
box-shadow: 0 0 10px 1px #000;
font-family:'微软雅黑';
}
#profileBox.show {
DISPLAY: block;
}
#profileBox.hide {
DISPLAY: none;
}
#profileBox A {
padding-left:20px;
padding-top:4px;
padding-bottom:4px;
}
#profileBox #title1 span {
padding-right:10px;
}
#profileBox #title2 span{
padding-right:10px;
}

#profileBox #profileBody {
BORDER-TOP: rgba(84, 84, 84, 1.0) 3px solid;
background: rgb(255, 255, 255);
HEIGHT: 191px;
width:99%;
TEXT-ALIGN: center;
margin-left:auto;
margin-right:auto;
}
#profileBody #loading{
position:absolute;
top:31px;
width:99%;
display:none;
background: rgba(122, 122, 122,0.5);
height:191px;
}
#profileBody #loading img{
width:100px;
height:100px;
vertical-align:middle;
}
#profileBody #loading.show{
display:block;
}
#profileBody #loading.hide{
display:none;
}